* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

a:hover {
    text-decoration: none;
    list-style: none;
}

a{
    list-style: none;
    text-decoration: none;
    color: #fefefe;
}

body {
    background-color: rgb(24 24 27);
}

.nav-links ul li a {
    padding: 8px;
    margin: 10px;
    color: rgb(161 161 170);
}

.nav-links {
    padding: 32px 0px 0px;
    display: flex;
}

.nav-links ul li a:hover {
    background-color: rgb(63 63 70);
    border-radius: 10px;
    color: #fefefe;
    transition: 0.3s;
}

.cols {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.col1 {
    margin-top: 13vh;
    display: flex;
    flex-direction: column;
}

#ediz {
    font-size: 50px;
    font-weight: 700;
    color: #fefefe;
}

#developer {
    color: #fefefe;
}

.h1 {
    color: #fefefe;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
}

#hello {
    color: rgb(212 212 216);
}

.button {
    padding: 0 1rem;
    position: relative;
    display: inline-flex;
    border: none;
    min-width: 120px;
    min-height: 32px;
}

.button-text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #fefefe;
    background: black;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center
}

.button-background {
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    border-radius: 4px;
    background: linear-gradient(-90deg, #007cf0, #00dfd8, #ff0080, #007cf0);
    background-size: 400% 100%;
    border: none;
    padding: 0;
    margin: 0;
    animation: backgroundAnimation 8s ease-in-out infinite
}


@keyframes backgroundAnimation {
    50% {
        background-position: 140% 50%;
        transform: skew(-2deg)
    }
}

.button-background:after {
    content: "";
    position: absolute;
    background-size: inherit;
    background-image: inherit;
    -webkit-animation: inherit;
    animation: inherit;
    left: 0;
    right: 0;
    top: 2px;
    height: 100%;
    filter: blur(.5rem)
}

.button:hover {
    border: solid 2px #fefefe;
    border-radius: 5px;
    transition: 0.1s;
}

.paragraf {
    color: #d4d4d8;
}

.col3 {
    margin-top: 13vh;
}

#work {
    color: #fefefe;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 3.9vh;

}

.cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cards_card {
    padding: 2rem;
    background-color: #27272a;
    border-radius: 0.5rem;
}

.cards_card:hover {
    scale: 1.01;
}


.button2 {
    padding: 0 1rem;
    position: relative;
    display: inline-flex;
    border: none;
    min-width: 120px;
    min-height: 32px;
}

.button-text2 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #fefefe;
    background-color: #18181b;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center
}

.button2:hover {
    border: solid 2px #fefefe;
    border-radius: 5px;
    transition: 0.1s;
}

.button3 {
    padding: 0 1rem;
    position: relative;
    display: inline-flex;
    border: none;
    min-width: 120px;
    min-height: 32px;
}

.button-text3 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #fefefe;
    background-color: #18181b;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center
}

.button3:hover {
    border: solid 2px #fefefe;
    border-radius: 5px;
    transition: 0.1s;
}

.h3{
    color: #fefefe;
    font-size: 24px;
    margin-top: 13px;
    margin-left: 30px;
}

.cards_card_p{
    color:#A1A1AA ;
    margin-top: 1.95vh;
    margin-left: 3.9vh;
}

.button2,
.button3 {
    margin-left: 3.9vh;
}

.platform{
    color: #fefefe;
    font-size: 13px;
    display: inline-block;
    background-color: #18181b;
    margin: -2.6vh;
    border-radius: 0.65vh;
    margin-left: 3.9vh;
    margin-top: 2.6vh;
    padding: 3px;
}

.col4 {
    margin-top: 120px;
}

.projects {
    margin-bottom: 20px;
    color: #fefefe;
}

.card-4 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cards_card4 {
    border-bottom: 1px solid #fefefe;
}

.cards_card4:hover {
    scale: 1.01;
    transition: 0.1s;
}

.cards_h {
    color: #fefefe;
}

.cards_p {
    color: rgb(161 161 170);
}

.button-text4 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #fefefe;
    background-color: #27272a;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center
}

#github,
#live {
    margin-left: 0px;
    margin-bottom: 10px;
}

.col5 {
    margin-top: 13vh;
}

.dado {
    margin-top: 30px;
    font-size: 17px;
    color: #fefefe;
}

.developer {
    color: rgb(161 161 170);
}

.date {
    display: flex;
    color: rgb(161 161 170);
    text-align: right;
    align-items: center;
    justify-content: right;
}

/*Skills*/
.col6 {
    margin-top: 3.9vh;
}

.card_skills{
    color: #fefefe;
    font-size: 17px;
    margin-bottom: 3.6vh;
}

.skills{
    display: inline-flex;
}

.skills p{
    color: rgb(161 161 170);
}

.card_6{
    margin: 0px 60px 0px 0px;
}

.col7 {
    margin-top: 13vh;
    border-bottom: 1px solid #fefefe;
    margin-bottom: 10px;
}

.hamburger {
    display: none;
}

/*-------------------responsive tasarım------------------------------*/

@media (max-width: 1200px) {
    .cards_card{
        background-color: #27272a;
        height: 40vh;
        border-radius: 6px;
    }
}

@media (max-width: 992px) {
    .col-2{
        display: none;
    }

    #ediz {
        font-size: 45px;
    }

    .paragraf {
        font-size: 15px;
        width: 120vh;
    }

    .h1 {
        font-size: 30px;
    }

    .cards_card{
        height: 45vh;
        width: 120vh;
    }

    .cards_card4{
        width: 120vh;
    }

    .card_7{
        width: 120vh;
    }

    #main{
        width: 120vh;
    }
}

@media (max-width: 768px) {

    .hamburger {
        margin-left: 0.8vh;
        display: block;
        margin-top: 4vh;
    }

    .hamburger .line {
        margin-top: 0.91vh;
        background-color: #fefefe;
        width: 30px;
        height: 1px;
    }

    .paragraf, .cards_card, .cards_card4{
        width: 78vh;
    }
    
    #main{
        margin-left: -10vh;
    }

    .nav-links {
        border-radius: 10px;
        margin-left: 16%;
        margin-top: 4vh;
        background-color: #18181b;
        height: 232px;
        position: absolute;
        height: 0;
        overflow: hidden;
    }

    .nav-links ul {
        margin-top: -3vh;
        opacity: 0;
        width: fit-content;
        margin-left: 35%;
        transition: 0.5s;
    }

    .nav-links ul li a {
        display: block;
    }

    .nav-links.active {
        width: 300px;
        height: 232px;
    }

    .nav-links.active ul {
        opacity: 1;
    }


}

@media (max-width: 650px) {

    .hamburger {
        margin-left: 1vh;
        display: block;
        margin-top: 30px;
    }

    .hamburger .line {
        margin-top: 7px;
        background-color: #fefefe;
        width: 30px;
        height: 1px;
    }

    #resume {
        margin-left: 0vh;
    }

    #main{
        margin-left: -2vh;
    }

    .paragraf, .cards_card, .cards_card4{
        width: 90vh;
    }

}

@media (max-width: 576px) {
    .hamburger {
        margin-left: 2px;
    }

    .hamburger .line {
        width: 25px;
    }

    #main{
        margin-left: 0vh;
    }

    .paragraf, .cards_card, .cards_card4{
        width: 10000px;
    }

    #ediz{
        width: 100vh;
    }
   

}
